streamlit
streamlit-audiorec
streamlit-elements
streamlit-pills
streamlit-player
streamlit-webrtc
av
opencv-contrib-python
opencv-python
opencv-python-headless
numpy
mediapipe
keras
keras-metrics
Keras-Preprocessing
llama-cpp-python
pandas
pandastable
SpeechRecognition
spotipy
matplotlib
matplotlib-inline
seaborn
Pillow
vaderSentiment
